.second-conetnt{
    background-color:whitesmoke;
    .social-icon{
        background-color:#32c6d5;
        padding: 5px 9px;
        border-radius: 50%;
        color: white;
    }
    .small-size{
        font-size: 14px;
    }
}