<div class="d-flex second-conetnt">
    <div class="col-lg-3 col-12 px-4">
        <h5 class="d-flex my-4">About</h5>
        <div class="d-flex ">
            <span class="small-size"> is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since
                the 1500s is simply text of the printing and
                typesetting industry. Lorem has
                the industry's standard dummy ever since
                the 1500s</span>
        </div>
        <div class="d-flex flex-wrap my-4">
            <div class="col-md-4 col-6 d-flex flex-column p-0">
                <span class="d-flex mb-2 fa fa-user-o"></span>
                <span class="d-flex">Teams</span>
            </div>
            <div class="col-md-4 col-6 d-flex flex-column p-0">
                <span class="d-flex mb-2 fa fa-neuter"></span>
                <span class="d-flex">Awards</span>
            </div>
        </div>
        <div class="d-flex my-4">
            <span class="mr-1 social-icon fa fa-facebook"></span>
            <span class="mx-1 social-icon fa fa-tumblr"></span>
            <span class="mx-1 social-icon fa fa-linkedin"></span>
            <span class="mx-1 social-icon fa fa-twitter"></span>
            <span class="mx-1 social-icon fa fa-glide-g"></span>
        </div>
        <div class="d-flex py-5">MEMBER SCINCE FEBURARY 7,2018</div>
    </div>
</div>