.footer-border{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 23px;
    padding: 0px 5px;
}
.cursor-item{
    cursor: pointer;
}
.footer-dropdown{
color: black !important;
}