<footer class="page-footer font-small blue">
    <div class="d-flex footer-copyright text-center px-2 py-3">
        <div class="cursor-item ">
            <div class="nav-item dropdown">
                <a class="nav-link menu-item dropdown-toggle py-0 footer-dropdown" data-toggle="dropdown" href="javascript:void(0)"
                    role="button" aria-haspopup="true" aria-expanded="false">Zidaya</a>
                <div class=" dropdown dropdown-menu">
                    <a class="dropdown-item menu-item" href="#">Equipos</a>
                    <a class="dropdown-item menu-item" href="#">Jugadoras</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
        <div class="cursor-item footer-border px-3">
            <a (click)="changeDirecation()">{{lang}}</a>
        </div>
        <div class="cursor-item px-3">
            <a>Privacy</a>
        </div>
        <div class="cursor-item px-3">
            <a>Community</a>
        </div>
        <div class="cursor-item px-3">
            <a>FAQ</a>
        </div>
    </div>
</footer>