<div class="tab-content">
  <div class="d-flex flex-wrap mb-5">
    <div class="col-md-6 col-12">
      <app-percentage-circle [percentage]="94" [total]="7" [pending]="2" [done]="5"
                             [type]="'Education'" [doneMessage]="'Education'"></app-percentage-circle>
    </div>
    <div class="col-md-6 col-12">
      <app-percentage-circle [percentage]="54" [total]="12" [pending]="2" [done]="11"
                             [type]="'Work'" [doneMessage]="'Work'"></app-percentage-circle>
    </div>
  </div>
  <div class="d-flex flex-wrap">
    <div class="col-md-6 col-12">
      <app-percentage-circle [percentage]="90" [total]="4" [pending]="1" [done]="3"
                             [type]="'Certifications'" [doneMessage]="'Certificates'"></app-percentage-circle>
    </div>
    <div class="col-md-6 col-12">
      <app-percentage-circle [percentage]="80" [total]="5" [pending]="2" [done]="3"
                             [type]="'Skills'" [doneMessage]="'Skills'"></app-percentage-circle>
    </div>
  </div>
</div>
