<header>
  <nav class="navbar navbar-expand-lg navbar-dark default-color mx-3">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/icon.PNG"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="d-flex justify-content-end navbar-nav nav-flex-icons align-items-center w-100">
        <li class="nav-item">
          <a class="nav-link"><i class="gray-icon fa fa-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="gray-icon fa fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="gray-icon fa fa-bell-o"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown"  href="javascript:void(0)" role="button"
             aria-haspopup="true" aria-expanded="false">Hi,Abdula</a>
          <div class=" dropdown dropdown-menu">
            <a class="dropdown-item menu-item" href="#">Equipos</a>
            <a class="dropdown-item menu-item" href="#">Jugadoras</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link"><i class="fa fa-user"></i></a> -->
          <img src="../../../assets/images/user.PNG">
        </li>
        <button class="rounded-btn ml-2">verify</button>
      </ul>
    </div>
  </nav>
</header>
