.navbar-dark .navbar-nav .nav-link {    
    color:black !important;
}
.navbar-toggler{
    background-color: #358ad9;
}
.gray-icon {
    color:gray !important;
}
.rounded-btn{
    border: none;
    padding: 0px 58px;
    border-radius: 25px;
    background-color: deepskyblue;
    color:white;
    outline-style: none;
    height: 32px;
}