.user-profile{
    height: auto;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #3058b3, #368fdd); 
    .profile-img{
        width: 80px;
        height: auto;
    }
    .white-color{
        color: white;
    }
    .icon-color{
        color:deepskyblue;
    }
    .profile{
        font-size: 60px;
    }
    .btn{
        border: none;
        padding: 5px 58px;
        border-radius: 25px;
        background-color: deepskyblue;
        color: white;
        outline-style: none;
    }
}
